

/* =General 
----------------------------------------------- */
/* =Header 
----------------------------------------------- */
/* =Nav 
----------------------------------------------- */

#desktop_menu {
    display:block;
}

#mobile_menu, #menu_btn {
    display:none;
}

/* =Databoxes 
----------------------------------------------- */

.databox {
    float:left;
    width:33%;
}
/* =Slideshow 
----------------------------------------------- */

/* =Primary 
----------------------------------------------- */

#primary {
    width:66%;
    float:left;
}

/* =Sidebar 
----------------------------------------------- */
#secondary {
    width:33%;
    float:right;
}

/* =Footer 
----------------------------------------------- */

footer {
    clear:both;
}
