

/* =General 
----------------------------------------------- */
/* =Header 
----------------------------------------------- */
/* =Nav 
----------------------------------------------- */

#desktop_menu {
    display:block;
}

#mobile_menu, #menu_btn {
    display:none;
}

/* =Databoxes 
----------------------------------------------- */

.databox {
    float:left;
    width:33%;
}
/* =Slideshow 
----------------------------------------------- */

/* =Primary 
----------------------------------------------- */

#primary {
    width:66%;
    float:left;
}

/* =Forms 
----------------------------------------------- */
label {
    float:left;
    width:25%;
    padding:1% 0;
}

input[type="text"], textarea {
    width:50%;

    float:left;
}

form p {
    clear:left;
    margin:1em 0;
    padding:1em 0;
}

input[type="submit"] {
    clear:left;
    display:block;
    margin-left:25%;

}

/* =Sidebar 
----------------------------------------------- */
#secondary {
    width:33%;
    float:right;
}

/* =Footer 
----------------------------------------------- */

footer {
    clear:both;
}
